:root {
  --main-color: #ecf87f;
  --contrast-color: #a6e2dc;
  --side-color: #97d49b;
  --text-color: black;
  --additional-color: #e4a58f;
  --padding: 2rem;
  --padding-item: 0.25rem;
  --padding-grid: 0.75rem;
  --border-radius: 5px;
  --font: helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font);
}

html,
body {
  height: 100%;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
}

header {
  grid-area: header;
}

header,
footer {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  padding: 1rem;
  text-align: center;
  background-color: var(--contrast-color);
  color: var(--text-color);
}

h1 {
  margin: auto;
}

.footer {
  grid-area: footer;
  justify-content: space-between;
  font-size: smaller;
}

h2,
caption {
  text-align: center;
  font-size: medium;
  padding-bottom: var(--padding-item);
  border-bottom: #ddd 1px solid;
}

nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  background-color: var(--side-color);
}

.item {
  padding: var(--padding-item);
  margin-bottom: var(--padding-item);
}

.bottom {
  margin-top: auto;
}

.smallBtn {
  font-size: small;
  font-weight: 700;
  background-color: var(--additional-color);
}

li {
  list-style: none;
}

button {
  font-size: small;
  background-color: var(--main-color);
  background-repeat: no-repeat;
  background-position: center;
  color: var(--text-color);
  border: none;
  border-radius: var(--border-radius);
  padding: 0.5rem;
  cursor: pointer;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  flex: 3;
  flex: 1 0 auto;
  padding: var(--padding);
  background-color: var(--main-color);
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--padding-item);
}

input {
  border: 1px solid var(--text-color);
  border-radius: var(--border-radius);
  color: var(--text-color);
  padding: var(--padding-item);
  margin-bottom: var(--padding-item);
}

table {
  table-layout: auto;
  width: 100%;
  padding-bottom: var(--padding);
}

th {
  text-align: left;
  font-size: smaller;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

tr {
  text-align: center;
}

td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

img {
  width: 15px;
  height: 15px;
}

.projectContainer {
  display: flex;
  flex-direction: row;
  gap: var(--padding-item);
  padding-top: var(--padding-item);
  padding-bottom: var(--padding-item);
}

.projectItem {
  border-bottom: 1px solid #ddd;
}

#project-input {
  padding: var(--padding-item);
}

.error {
  display: none;
}

#inputModal,
#helpModal,
#popupModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContainer {
  background-color: #fefefe;
  margin: 15% auto;
  padding: var(--padding);
  border: 1px solid #888;
  border-radius: var(--border-radius);
  width: 80%;
  max-width: 500px;
}

.hidden {
  display: none;
}

#btnContainer {
  display: flex;
  flex-direction: row;
  gap: var(--padding);
  justify-content: center;
  padding-top: var(--padding-item);
}

#btnOpenHelp {
  cursor: help;
}

#btnOpen {
  background-color: var(--side-color);
}

.btnClose {
  color: #aaa;
  /* float: right; */
  font-size: small;
  font-weight: bold;
}

#btnClose:hover,
#btnClose:focus {
  color: black;
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

#viewAllBtn {
  display: block;
  margin: 0 auto;
}
/* project name needs break if too long */

#popupContainer {
  display: grid;
  /* grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(6, auto); */
  /* gap: 1rem; */
  grid-template-areas:
    "labelProject  ...........   ........... ..........."
    "todoProject   todoProject   todoProject labelCompleted"
    "labelName     ...........   ........... todoCompleted"
    "todoName      todoName      todoName    labelPriority"
    "labelDetails  ...........   ........... todoPriority"
    "todoDetails   todoDetails   todoDetails todoDetails"
    "todoDetails   todoDetails   todoDetails todoDetails"
    "labelCreated  ...........   ........... ..........."
    "todoCreatedOn todoCreatedOn ........... ..........."
    "labelDue      ...........   ........... ..........."
    "todoDueDate   todoDueDate   ........... todoDelete";
  align-content: end;
  justify-items: start;
}

/* align and justify all popup elements */
#popupContainer > * {
  align-self: center;
  justify-self: start;
}

.popupItemCont {
  align-self: start;
}

.label {
  font-size: xx-small;
  padding-top: var(--padding-grid);
}

#todoProject {
  grid-area: todoProject;
  grid-column: span 3;
  font-size: larger;
  /* padding-bottom: var(--padding-grid); */
  text-align: center;
}

#labelCompleted {
  grid-area: labelCompleted;
}

#labelName {
  grid-area: labelName;
}

#labelDetails {
  grid-area: labelDetails;
}

#labelProject {
  grid-area: labelProject;
}

#popupName {
  grid-area: todoName;
  grid-column: span 3;
  /* padding-bottom: var(--padding-grid); */
}

#popupDetails {
  grid-area: todoDetails;
  grid-column: span 3;
  grid-row: span 2;
  /* padding-bottom: var(--padding-grid); */
}

#labelCreated {
  grid-area: labelCreated;
}

#todoCreatedOn {
  grid-area: todoCreatedOn;
  /* padding-bottom: var(--padding-grid); */
}

#labelDue {
  grid-area: labelDue;
}

#popupDueDate {
  grid-area: todoDueDate;
}

#labelPriority {
  grid-area: labelPriority;
}

#todoPriority {
  grid-area: todoPriority;
}

#todoCompleted {
  grid-area: todoCompleted;
}

#todoDelete {
  grid-area: todoDelete;
  justify-self: end;
}

input .completedInput {
  margin: 0;
}
